In [1]:
import numpy as np
import pandas as pd
import os
import cv2
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.utils import to_categorical
from keras.models import Sequential
from keras.applications import MobileNet
from keras.layers import Dense, GlobalAveragePooling2D
from keras.models import Model
from keras.callbacks import ModelCheckpoint

/home/aman/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/aman/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/aman/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/aman/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/aman/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/aman/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/aman/.local/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/aman/.local/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/aman/.local/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/aman/.local/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/aman/.local/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/aman/.local/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
Using TensorFlow backend.

In [2]:
df = pd.read_csv("dataset/train.csv")
df.head()

            Image   Class
0   image7042.jpg    Food
1   image3327.jpg    misc
2  image10335.jpg  Attire
3   image8019.jpg    Food
4   image2128.jpg  Attire

In [3]:
trainPath = "dataset/Train Images/"
Images = os.listdir(trainPath)

In [4]:
print(len(Images)-len(df))

0

In [5]:
print(df.isna().sum())

Image    0
Class    0
dtype: int64

In [6]:
temp = []

for i in range(len(df)):
    img = cv2.imread(trainPath + Images[i])
    img = np.resize(img, (60, 60, 3))
    img = img.astype('float')
    img = img/255.0
    
    temp.append({"Image" : Images[i], "imageData" : img})

temp = pd.DataFrame(temp)
temp.head()

            Image                                          imageData
0   image5402.jpg  [[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0,...
1   image9707.jpg  [[[0.7333333333333333, 0.7529411764705882, 0.7...
2  image10325.jpg  [[[0.09411764705882353, 0.043137254901960784, ...
3   image3662.jpg  [[[0.3764705882352941, 0.592156862745098, 0.10...
4   image2709.jpg  [[[0.2549019607843137, 0.2627450980392157, 0.2...

In [7]:
df = pd.merge(df, temp, on = "Image")
df.head()

            Image   Class                                          imageData
0   image7042.jpg    Food  [[[0.17647058823529413, 0.17647058823529413, 0...
1   image3327.jpg    misc  [[[0.38823529411764707, 0.47058823529411764, 0...
2  image10335.jpg  Attire  [[[0.027450980392156862, 0.058823529411764705,...
3   image8019.jpg    Food  [[[0.10588235294117647, 0.16862745098039217, 0...
4   image2128.jpg  Attire  [[[0.6627450980392157, 0.6549019607843137, 0.6...

In [8]:
le = LabelEncoder()
df["Class"] = le.fit_transform(df.Class)
df.head()

            Image  Class                                          imageData
0   image7042.jpg      2  [[[0.17647058823529413, 0.17647058823529413, 0...
1   image3327.jpg      3  [[[0.38823529411764707, 0.47058823529411764, 0...
2  image10335.jpg      0  [[[0.027450980392156862, 0.058823529411764705,...
3   image8019.jpg      2  [[[0.10588235294117647, 0.16862745098039217, 0...
4   image2128.jpg      0  [[[0.6627450980392157, 0.6549019607843137, 0.6...

In [9]:
df.Class.unique()

array([2, 3, 0, 1])

In [10]:
le.inverse_transform(df.Class)

array(['Food', 'misc', 'Attire', ..., 'Food', 'Food', 'Attire'],
      dtype=object)

In [11]:
x = []
y = []

for i in range(len(df)):
    x.append(df.imageData[i])
    y.append(df.Class[i])
    
x = np.array(x)
y = np.array(y)
y = to_categorical(y)

In [12]:
def buildModel():
    baseModel = MobileNet(input_shape=(60, 60, 3), weights='imagenet',include_top=False)
    model = Sequential([baseModel])
    model.add(GlobalAveragePooling2D())
    
    model.add(Dense(64, activation='relu'))
    model.add(Dense(32, activation='relu'))
    
    model.add(Dense(4, activation='softmax'))
    
    model.compile(optimizer='Adam', loss='categorical_crossentropy', metrics=['accuracy'])
    
    return model

In [13]:
checkpoint = ModelCheckpoint("weights/transferLearning/model-{epoch:02d}-{val_accuracy:.2f}.hdf5", monitor='val_accuracy', verbose=1, save_best_only=True, mode='max')
callbacks_list = [checkpoint]

In [14]:
model = buildModel()
model.fit(x, y, epochs=100, verbose=1, validation_split=0.2)

/home/aman/.local/lib/python3.7/site-packages/keras_applications/mobilenet.py:207: UserWarning: `input_shape` is undefined or non-square, or `rows` is not in [128, 160, 192, 224]. Weights for input shape (224, 224) will be loaded as the default.
  warnings.warn('`input_shape` is undefined or non-square, '

WARNING:tensorflow:From /home/aman/.local/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 4786 samples, validate on 1197 samples
Epoch 1/100
4786/4786 [==============================] - 77s 16ms/step - loss: 1.2764 - accuracy: 0.4352 - val_loss: 1.2206 - val_accuracy: 0.4528
Epoch 2/100
4786/4786 [==============================] - 75s 16ms/step - loss: 1.1180 - accuracy: 0.5207 - val_loss: 1.0897 - val_accuracy: 0.5188
Epoch 3/100
4786/4786 [==============================] - 74s 15ms/step - loss: 1.0613 - accuracy: 0.5583 - val_loss: 1.1083 - val_accuracy: 0.5246
Epoch 4/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.9866 - accuracy: 0.5919 - val_loss: 1.0650 - val_accuracy: 0.5380
Epoch 5/100
4786/4786 [==============================] - 77s 16ms/step - loss: 0.9311 - accuracy: 0.6199 - val_loss: 1.0506 - val_accuracy: 0.5831
Epoch 6/100
4786/4786 [==============================] - 76s 16ms/step - loss: 0.8517 - accuracy: 0.6582 - val_loss: 1.0670 - val_accuracy: 0.5547
Epoch 7/100
4786/4786 [==============================] - 76s 16ms/step - loss: 0.7746 - accuracy: 0.6926 - val_loss: 1.2063 - val_accuracy: 0.5088
Epoch 8/100
4786/4786 [==============================] - 76s 16ms/step - loss: 0.7499 - accuracy: 0.7064 - val_loss: 1.4216 - val_accuracy: 0.5096
Epoch 9/100
4786/4786 [==============================] - 77s 16ms/step - loss: 0.6517 - accuracy: 0.7499 - val_loss: 1.2754 - val_accuracy: 0.5330
Epoch 10/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.5980 - accuracy: 0.7752 - val_loss: 1.4217 - val_accuracy: 0.4486
Epoch 11/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.5375 - accuracy: 0.7942 - val_loss: 1.3170 - val_accuracy: 0.5255
Epoch 12/100
4786/4786 [==============================] - 74s 16ms/step - loss: 0.4801 - accuracy: 0.8266 - val_loss: 1.3742 - val_accuracy: 0.4971
Epoch 13/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.4276 - accuracy: 0.8450 - val_loss: 1.3711 - val_accuracy: 0.5305
Epoch 14/100
4786/4786 [==============================] - 77s 16ms/step - loss: 0.3869 - accuracy: 0.8619 - val_loss: 1.7621 - val_accuracy: 0.4820
Epoch 15/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.3267 - accuracy: 0.8836 - val_loss: 1.5223 - val_accuracy: 0.5146
Epoch 16/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.3175 - accuracy: 0.8868 - val_loss: 1.4960 - val_accuracy: 0.4812
Epoch 17/100
4786/4786 [==============================] - 74s 16ms/step - loss: 0.3072 - accuracy: 0.8941 - val_loss: 1.5612 - val_accuracy: 0.5129
Epoch 18/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.2734 - accuracy: 0.8997 - val_loss: 1.6461 - val_accuracy: 0.5096
Epoch 19/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.2360 - accuracy: 0.9200 - val_loss: 2.1623 - val_accuracy: 0.5288
Epoch 20/100
4786/4786 [==============================] - 74s 15ms/step - loss: 0.2606 - accuracy: 0.9116 - val_loss: 1.6315 - val_accuracy: 0.4845
Epoch 21/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.2522 - accuracy: 0.9095 - val_loss: 1.6423 - val_accuracy: 0.5388
Epoch 22/100
4786/4786 [==============================] - 74s 15ms/step - loss: 0.2021 - accuracy: 0.9306 - val_loss: 1.6783 - val_accuracy: 0.5280
Epoch 23/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.2170 - accuracy: 0.9262 - val_loss: 1.8399 - val_accuracy: 0.5054
Epoch 24/100
4786/4786 [==============================] - 74s 16ms/step - loss: 0.1497 - accuracy: 0.9476 - val_loss: 1.9473 - val_accuracy: 0.4887
Epoch 25/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.1627 - accuracy: 0.9446 - val_loss: 1.6984 - val_accuracy: 0.5063
Epoch 26/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.1926 - accuracy: 0.9386 - val_loss: 1.7223 - val_accuracy: 0.5280
Epoch 27/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.1303 - accuracy: 0.9616 - val_loss: 1.7431 - val_accuracy: 0.4971
Epoch 28/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.1284 - accuracy: 0.9576 - val_loss: 1.9433 - val_accuracy: 0.5171
Epoch 29/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.1638 - accuracy: 0.9473 - val_loss: 2.0598 - val_accuracy: 0.4319
Epoch 30/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.1617 - accuracy: 0.9465 - val_loss: 1.7646 - val_accuracy: 0.5439
Epoch 31/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.1401 - accuracy: 0.9574 - val_loss: 1.6281 - val_accuracy: 0.5238
Epoch 32/100
4786/4786 [==============================] - 76s 16ms/step - loss: 0.1201 - accuracy: 0.9618 - val_loss: 1.9201 - val_accuracy: 0.5297
Epoch 33/100
4786/4786 [==============================] - 74s 16ms/step - loss: 0.1367 - accuracy: 0.9574 - val_loss: 2.1269 - val_accuracy: 0.5213
Epoch 34/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.1500 - accuracy: 0.9494 - val_loss: 1.8737 - val_accuracy: 0.5297
Epoch 35/100
4786/4786 [==============================] - 76s 16ms/step - loss: 0.1658 - accuracy: 0.9465 - val_loss: 1.9195 - val_accuracy: 0.5188
Epoch 36/100
4786/4786 [==============================] - 76s 16ms/step - loss: 0.1129 - accuracy: 0.9645 - val_loss: 1.7586 - val_accuracy: 0.4979
Epoch 37/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.1247 - accuracy: 0.9603 - val_loss: 1.8550 - val_accuracy: 0.5464
Epoch 38/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.1180 - accuracy: 0.9628 - val_loss: 1.8612 - val_accuracy: 0.5455
Epoch 39/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.1197 - accuracy: 0.9632 - val_loss: 1.6040 - val_accuracy: 0.5205
Epoch 40/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0986 - accuracy: 0.9701 - val_loss: 1.8749 - val_accuracy: 0.4929
Epoch 41/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.1226 - accuracy: 0.9580 - val_loss: 1.8048 - val_accuracy: 0.5121
Epoch 42/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0864 - accuracy: 0.9689 - val_loss: 1.8781 - val_accuracy: 0.5196
Epoch 43/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.1109 - accuracy: 0.9634 - val_loss: 2.3418 - val_accuracy: 0.4461
Epoch 44/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0864 - accuracy: 0.9735 - val_loss: 1.9684 - val_accuracy: 0.5180
Epoch 45/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0969 - accuracy: 0.9693 - val_loss: 1.7709 - val_accuracy: 0.5255
Epoch 46/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0783 - accuracy: 0.9760 - val_loss: 1.9048 - val_accuracy: 0.5188
Epoch 47/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0923 - accuracy: 0.9699 - val_loss: 1.6917 - val_accuracy: 0.5280
Epoch 48/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.0870 - accuracy: 0.9703 - val_loss: 1.7866 - val_accuracy: 0.5213
Epoch 49/100
4786/4786 [==============================] - 76s 16ms/step - loss: 0.0796 - accuracy: 0.9730 - val_loss: 1.6166 - val_accuracy: 0.5238
Epoch 50/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.1049 - accuracy: 0.9672 - val_loss: 1.7922 - val_accuracy: 0.5347
Epoch 51/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0669 - accuracy: 0.9802 - val_loss: 1.9814 - val_accuracy: 0.4887
Epoch 52/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0857 - accuracy: 0.9695 - val_loss: 1.7965 - val_accuracy: 0.4979
Epoch 53/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.1083 - accuracy: 0.9645 - val_loss: 2.0215 - val_accuracy: 0.5063
Epoch 54/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.1214 - accuracy: 0.9603 - val_loss: 2.1672 - val_accuracy: 0.5205

Epoch 55/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0864 - accuracy: 0.9718 - val_loss: 1.7796 - val_accuracy: 0.4653
Epoch 56/100
4786/4786 [==============================] - 72s 15ms/step - loss: 0.0685 - accuracy: 0.9785 - val_loss: 1.7984 - val_accuracy: 0.5372
Epoch 57/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0719 - accuracy: 0.9747 - val_loss: 1.8830 - val_accuracy: 0.5146
Epoch 58/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0723 - accuracy: 0.9749 - val_loss: 1.8906 - val_accuracy: 0.4996
Epoch 59/100
4786/4786 [==============================] - 72s 15ms/step - loss: 0.0665 - accuracy: 0.9760 - val_loss: 1.9154 - val_accuracy: 0.5104
Epoch 60/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0571 - accuracy: 0.9795 - val_loss: 2.4495 - val_accuracy: 0.5221
Epoch 61/100
4786/4786 [==============================] - 72s 15ms/step - loss: 0.0774 - accuracy: 0.9743 - val_loss: 1.8977 - val_accuracy: 0.5171
Epoch 62/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0801 - accuracy: 0.9701 - val_loss: 1.9391 - val_accuracy: 0.5305
Epoch 63/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0729 - accuracy: 0.9770 - val_loss: 1.7636 - val_accuracy: 0.5305
Epoch 64/100
4786/4786 [==============================] - 72s 15ms/step - loss: 0.0778 - accuracy: 0.9772 - val_loss: 1.7678 - val_accuracy: 0.5230
Epoch 65/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0679 - accuracy: 0.9779 - val_loss: 2.0407 - val_accuracy: 0.5188
Epoch 66/100
4786/4786 [==============================] - 72s 15ms/step - loss: 0.0396 - accuracy: 0.9889 - val_loss: 1.9495 - val_accuracy: 0.5221
Epoch 67/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0281 - accuracy: 0.9898 - val_loss: 2.2519 - val_accuracy: 0.5079
Epoch 68/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0332 - accuracy: 0.9891 - val_loss: 2.1625 - val_accuracy: 0.5246
Epoch 69/100
4786/4786 [==============================] - 72s 15ms/step - loss: 0.0773 - accuracy: 0.9745 - val_loss: 1.9356 - val_accuracy: 0.5205
Epoch 70/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0553 - accuracy: 0.9829 - val_loss: 1.9564 - val_accuracy: 0.4478
Epoch 71/100
4786/4786 [==============================] - 72s 15ms/step - loss: 0.0645 - accuracy: 0.9789 - val_loss: 1.8251 - val_accuracy: 0.4453
Epoch 72/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0717 - accuracy: 0.9749 - val_loss: 2.1170 - val_accuracy: 0.5079
Epoch 73/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0714 - accuracy: 0.9772 - val_loss: 1.9947 - val_accuracy: 0.5338
Epoch 74/100
4786/4786 [==============================] - 72s 15ms/step - loss: 0.0776 - accuracy: 0.9785 - val_loss: 1.7126 - val_accuracy: 0.5071
Epoch 75/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0690 - accuracy: 0.9766 - val_loss: 1.9139 - val_accuracy: 0.5305
Epoch 76/100
4786/4786 [==============================] - 72s 15ms/step - loss: 0.0537 - accuracy: 0.9822 - val_loss: 1.7622 - val_accuracy: 0.5155
Epoch 77/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0671 - accuracy: 0.9766 - val_loss: 2.0580 - val_accuracy: 0.4987
Epoch 78/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0586 - accuracy: 0.9804 - val_loss: 2.0958 - val_accuracy: 0.4837
Epoch 79/100
4786/4786 [==============================] - 72s 15ms/step - loss: 0.0763 - accuracy: 0.9741 - val_loss: 2.4192 - val_accuracy: 0.5146
Epoch 80/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0584 - accuracy: 0.9812 - val_loss: 2.0246 - val_accuracy: 0.5439
Epoch 81/100
4786/4786 [==============================] - 72s 15ms/step - loss: 0.0419 - accuracy: 0.9852 - val_loss: 2.1120 - val_accuracy: 0.5096
Epoch 82/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0495 - accuracy: 0.9837 - val_loss: 2.1055 - val_accuracy: 0.5497
Epoch 83/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0536 - accuracy: 0.9820 - val_loss: 1.8452 - val_accuracy: 0.5272
Epoch 84/100
4786/4786 [==============================] - 72s 15ms/step - loss: 0.0576 - accuracy: 0.9795 - val_loss: 1.9311 - val_accuracy: 0.5213
Epoch 85/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0569 - accuracy: 0.9791 - val_loss: 2.1188 - val_accuracy: 0.5430
Epoch 86/100
4786/4786 [==============================] - 72s 15ms/step - loss: 0.0578 - accuracy: 0.9797 - val_loss: 1.8746 - val_accuracy: 0.5238
Epoch 87/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0640 - accuracy: 0.9793 - val_loss: 2.2148 - val_accuracy: 0.5213
Epoch 88/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0485 - accuracy: 0.9856 - val_loss: 1.8485 - val_accuracy: 0.5297
Epoch 89/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.0416 - accuracy: 0.9866 - val_loss: 1.9107 - val_accuracy: 0.5071
Epoch 90/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.0530 - accuracy: 0.9806 - val_loss: 2.3336 - val_accuracy: 0.5288
Epoch 91/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.0579 - accuracy: 0.9816 - val_loss: 2.6115 - val_accuracy: 0.5188
Epoch 92/100
4786/4786 [==============================] - 74s 15ms/step - loss: 0.0642 - accuracy: 0.9808 - val_loss: 1.9700 - val_accuracy: 0.5071
Epoch 93/100
4786/4786 [==============================] - 75s 16ms/step - loss: 0.0645 - accuracy: 0.9824 - val_loss: 1.8546 - val_accuracy: 0.5439
Epoch 94/100
4786/4786 [==============================] - 74s 16ms/step - loss: 0.0375 - accuracy: 0.9881 - val_loss: 1.7014 - val_accuracy: 0.5038
Epoch 95/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0722 - accuracy: 0.9770 - val_loss: 1.9665 - val_accuracy: 0.5213
Epoch 96/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0672 - accuracy: 0.9774 - val_loss: 2.0945 - val_accuracy: 0.5113
Epoch 97/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0575 - accuracy: 0.9791 - val_loss: 1.9741 - val_accuracy: 0.5297
Epoch 98/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0469 - accuracy: 0.9852 - val_loss: 1.7107 - val_accuracy: 0.5305
Epoch 99/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0411 - accuracy: 0.9860 - val_loss: 2.1181 - val_accuracy: 0.5297
Epoch 100/100
4786/4786 [==============================] - 73s 15ms/step - loss: 0.0626 - accuracy: 0.9774 - val_loss: 1.9061 - val_accuracy: 0.5096

In [15]:
_, accuracy = model.evaluate(x, y, verbose=1)
accuracy

5983/5983 [==============================] - 18s 3ms/step

0.8911917209625244

In [16]:
np.argmax(model.predict(x), axis=1)

array([2, 3, 0, ..., 2, 2, 0])

In [17]:
np.argmax(y, axis=1)

array([2, 3, 0, ..., 2, 2, 0])

In [18]:
df = pd.read_csv("dataset/test.csv")
df.head()

            Image
0   image6245.jpg
1  image10409.jpg
2   image8692.jpg
3  image10517.jpg
4   image2580.jpg

In [19]:
testPath = "dataset/Test Images/"
Images = os.listdir(testPath)
len(Images)

3219

In [20]:
df.isna().sum()

Image    0
dtype: int64

In [21]:
temp = []

for i in range(len(df)):
    img = cv2.imread(testPath + Images[i])
    img = np.resize(img, (60, 60, 3))
    img = img.astype('float')
    img = img/255.0
    
    temp.append({"Image" : Images[i], "imageData" : img})

temp = pd.DataFrame(temp)
temp.head()

           Image                                          imageData
0  image5761.jpg  [[[0.043137254901960784, 0.11372549019607843, ...
1  image7487.jpg  [[[0.2980392156862745, 0.34509803921568627, 0....
2  image4596.jpg  [[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...
3  image8532.jpg  [[[0.9098039215686274, 0.6901960784313725, 0.3...
4  image1449.jpg  [[[0.5529411764705883, 0.596078431372549, 0.67...

In [22]:
df = pd.merge(df, temp, on = "Image")
df.head()

            Image                                          imageData
0   image6245.jpg  [[[0.9921568627450981, 0.984313725490196, 0.98...
1  image10409.jpg  [[[0.0, 0.0, 0.011764705882352941], [0.0, 0.0,...
2   image8692.jpg  [[[0.3333333333333333, 0.36470588235294116, 0....
3  image10517.jpg  [[[0.4, 0.17647058823529413, 0.207843137254901...
4   image2580.jpg  [[[0.34901960784313724, 0.34901960784313724, 0...

In [23]:
x = []

for i in range(len(df)):
    x.append(df.imageData[i])
    
x = np.array(x)

In [24]:
predict = np.argmax(model.predict(x), axis=1)

In [25]:
predict

array([2, 0, 2, ..., 0, 2, 3])

In [26]:
predict = le.inverse_transform(predict)
predict

array(['Food', 'Attire', 'Food', ..., 'Attire', 'Food', 'misc'],
      dtype=object)

In [27]:
df["Class"] = predict

In [28]:
df.head()

            Image                                          imageData   Class
0   image6245.jpg  [[[0.9921568627450981, 0.984313725490196, 0.98...    Food
1  image10409.jpg  [[[0.0, 0.0, 0.011764705882352941], [0.0, 0.0,...  Attire
2   image8692.jpg  [[[0.3333333333333333, 0.36470588235294116, 0....    Food
3  image10517.jpg  [[[0.4, 0.17647058823529413, 0.207843137254901...    misc
4   image2580.jpg  [[[0.34901960784313724, 0.34901960784313724, 0...    misc

In [29]:
df = df.drop(['imageData'], axis=1)

In [30]:
df.head()

            Image   Class
0   image6245.jpg    Food
1  image10409.jpg  Attire
2   image8692.jpg    Food
3  image10517.jpg    misc
4   image2580.jpg    misc

In [31]:
df.to_csv("output/output.csv")